@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.animate-slide-in-from-right {
  animation: slide-in-from-right 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.persistent-border-black {
  border-style: solid !important;
  border-width: 2px !important;
  /* border-color: black !important; */
  outline: none !important;
  box-shadow: none !important;
}

.persistent-border-black:focus,
.persistent-border-black:active,
.persistent-border:focus-visible {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: black !important;
  outline: none !important;
  box-shadow: none !important;
}