@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.animate-slide-in-from-right {
  animation: slide-in-from-right 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

body {
  font-family: 'Montserrat', sans-serif;
}