@import "tailwindcss";

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0.0;
  }
  60% {
    transform: translateX(6%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-right {
  animation: slide-in-from-right 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

